/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* DEBUG */
    background-color: #ACD7E5;
    min-height: 300px;
}

.header-container {

    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* DEBUG */
    background-color: #DAA51D;
    height: 30px;
}

/* logo */
#logo {
    display: flex;
    align-items: center;
    width: 20%;
    padding-left: 5px;
    /* DEBUG */
    background-color: #DAA51D;
    border: 2px dashed black;
    height: 30px;

}

/* nav */
.nav-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    /* DEBUG */
    background-color: #DAA51D;
    border: 2px dashed black;
    height: 30px;
}

.nav-top ul {
    list-style-type: none;
    width: 40%;
    display: flex;
    justify-content: space-evenly;

}

/* login button */
#login {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5px;
    /* DEBUG */
    background-color: #DAA51D;
    border: 2px dashed black;
    height: 30px;

}

/* Jumbotron */

#jumbotron-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* DEBUG */
    background-color: #00018B;
    height: 300px;
}

.jumbotron {
    width: 60%;
    /* DEBUG */
    background-color: #EF82ED;
    height: 250px;
    border: 2px dashed black;
}